.channel-chat {
  height: 100%;
  .chat-container {
    height: 100%;
    .messages {
      max-height: calc(100% - 50px);
      height: 90%;
      background-color: $gray-300;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 1em 2em;
  
      .media:not(:first-child) {
        margin-top: .4em;
      }
    }
  
    .message-input {
      height: 50px;
      padding: 1em 2em;
      display: flex;
      align-items: center;
      background-color: $gray-600;
    }
  }
  
}