.channel-chat {
  .chat-container {
    .messages {
      background-color: $gray-300;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 1em 2em;
  
      .media:not(:first-child) {
        margin-top: .4em;
      }
    }
  
    .message-input {
      padding: 1em 2em;
      display: flex;
      align-items: center;
      background-color: $gray-600;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      height: calc(100vh - 100px);
      .messages {
        height: 90%;
      }
      .message-input {
        height: 10%;
      }  
    }
  }
  
}